---
title: Charles Desneuf
layout: default
description: "Personal website of Charles Desneuf, also known as SelrahcD, a freelance developer and agile coach.
Charles also provides coaching and consultancy about system architecture, development, and testing."
---

{% from "_includes/actions.njk" import primary, secondary %}

<header class="topography">
    <div class="container mx-auto mx-5 h-screen flex flex-col justify-between px-4">

        <div class="flex flex-wrap flex-grow content-center">
            <h1 class="text-scarlet-700">
                <span class="khand block text-6xl sm:text-9xl" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">Hi!</span>
                <span class="khand block text-6xl sm:text-9xl" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">I'm Charles,</span>
                <span class="block rambla text-4xl sm:text-5xl" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">a freelance developer,</span>
                <span class="block rambla text-4xl sm:text-5xl" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">agile & craft coach,</span>
                <span class="block rambla text-4xl sm:text-5xl" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">and occasional speaker.</span>
            </h1>
        </div>


        <div class="text-scarlet-700 py-10 flex flex-row justify-center">
            <a href="#content">
                <svg class="h-16 w-16 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                </svg>
            </a>
        </div>
    </div>
</header>

<div class="bg-scarlet-700 text-gray-300 shadow-inner" id="content">
    <div class="py-12 mx-auto px-4 lg:w-2/3">
        <p class="text-3xl khand text-center" style=" text-shadow: 0 2px 4px rgba(0,0,0,0.10);">
            I focus on helping organizations deliver the best products to their clients.
        </p>

        <div class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-4 mt-12">

            <div class="text-center flex-1">
                <svg class="inline-block h-24 w-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <p>I can join your team as a developer and help you build your next success.</p>
            </div>

            <div class="text-center flex-1">
                <svg class="inline-block h-24 w-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="{2}" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                </svg>
                <p>I can advise you on some technical challenges around architecture, testing, modeling...</p>
            </div>

            <div class="text-center flex-1">
                <svg class="inline-block h-24 w-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="{2}" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                </svg>
                <p>We can work together to improve your efficiency toward your goals.</p>
            </div>

        </div>
    </div>
</div>


<div class="shadow-inner py-12">
    <div class="container flex flex-col md:flex-row-reverse lg:w-2/3 mx-auto mt-12 px-4">
        <div class="md:w-3/5">
            <span class="text-scarlet-700 text-2xl khand">I gave talks at various conferences</span>
            <div class="text mt-4">
                <p>I was lucky enough to be able to share my views on coding
                practices, architecture, team work and agile in the past.
                </p>
                <p>I really enjoyed it, hopefully the public too, and I can't wait to return to the
                    stage!
                </p>
            </div>
            <div class="text-right mt-4">
                {{ primary('Let me see that!', '/talks') }}
            </div>
        </div>
        <div class="md:w-2/5 mt-4 md:mt-0 md:pr-4">
            <img src="images/talk.jpg" alt="Me, speaking at a conference"
                class="object-scale-down">
        </div>
    </div>
    <div class="container lg:w-2/3 mx-auto mt-12 px-4">
<!--        <div class="md:w-3/5 px-4 md:px-0 pr-4">-->
            <span class="text-scarlet-700 text-2xl khand">I build and maintain some personal projects</span>
            <div class="text mt-4">
                <p>When I work on personal projects it's mostly for learning and
                experimentation purposes. However, from time to time, I feel a project is worth polishing ang going
                online.
                </p>
                <p>Do you want to know more about my smurf Twitter bot or a project named
                    Burritalks?
                </p>
            </div>
            <div class="text-right mt-4">
                {{ primary('That sounds fun!', '/projects') }}
            </div>
    </div>

    <div class="container mt-12 flex flex-col md:flex-row lg:w-2/3 mx-auto px-4">
        <div class="md:w-3/5 md:pr-4">
            <span class="text-scarlet-700 text-2xl khand">I sometimes blog</span>

            <div class="text mt-4">
                <p>I write blog articles where I share what I've learned, reflections about the
                    way we build software and how we can improve.
                </p>
            </div>

            <div class="text-right mt-4">
                {{ primary('Take me to the blog!', 'http://blog.chorip.am?utm_medium=referral&utm_source=personal_website&utm_campaign=index') }}
            </div>
        </div>

        <div class="md:w-2/5 mt-4 md:mt-0">
            <div class="px-4 py-4 bg-scarlet-700 text-gray-100">
                <span class="text-lg rambla">Last articles on the blog</span>
                <ul class="mt-4 space-y-4" id="lastBlogArticles">
                </ul>
            </div>
        </div>

    </div>
</div>


{% block head %}
<script type='text/javascript'>
    const http = new XMLHttpRequest();

    http.open('GET', 'https://blog.chorip.am/last-articles.json');
    http.send();

    http.onload = () => {
        const articlesList = document.getElementById('lastBlogArticles');

        const data = JSON.parse(http.responseText);

        console.log(data);

        data.slice(0, 3)
            .forEach((item) => {
                console.log(item);
                const link = document.createElement('a');
                link.textContent = item.title;
                link.setAttribute('href', item.url + '?utm_medium=referral&utm_source=personal_website&utm_campaign=last_blog_articles');
                link.setAttribute('class', 'hover:underline');

                const tagList = document.createElement('ul');
                tagList.setAttribute('class', 'flex flex-row flex-wrap justify-end space-x-2');

                item.tags.forEach(tag => {
                    const tagElement = document.createElement('li');
                    tagElement.textContent = tag;
                    tagElement.setAttribute('class', 'bg-scarlet-600 text-sm font-semibold px-2 py-1 rounded mt-2');
                    tagList.appendChild(tagElement);
                });

                const listElement = document.createElement('li');
                listElement.appendChild(link);
                listElement.appendChild(tagList);
                articlesList.appendChild(listElement);
            })
    }
</script>
{% endblock %}