<footer class="mt-16 bg-scarlet-700 pt-8 pb-8 text-gray-100 font-medium font-semibold" id="footer">
    <div class="flex justify-center">
        <a href="https://twitter.com/Selrahcd" class="px-2">Twitter</a>
        <a href="http://github.com/SelrahcD" class="px-2">Github</a>
        <a href="/contact" class="px-2">Contact</a>
    </div>
</footer>