<button @click="displayMenu = !displayMenu" class="absolute top-0 right-0 lg:hidden">
    <span class="sr-only">Open main menu</span>
    <svg class="h-8 w-8 text-scarlet-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path x-show="!displayMenu" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        <path x-show="displayMenu" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
</button>

<div class="lg:container lg:mx-auto  lg:px-2 md:px-0 lg:py-4 lg:border-b-2 border-gray-300 {% if page.url != '/'%} lg:flex {% endif %}"
     :class="{ 'block': displayMenu, 'hidden': !displayMenu }">
    <div class="flex flex-col lg:flex-row lg:items-center text-scarlet-700">
        <a href="/" class="khand tracking-wide font-semibold hover:bg-gray-300 px-3 pt-2 pb-1 rounded text-center border-b lg:border-0">Home</a>
        <a href="/work" class="khand tracking-wide font-semibold hover:bg-gray-300 px-3 pt-2 pb-1 rounded text-center border-b lg:border-0">Work</a>
        <a href="/projects" class="khand tracking-wide font-semibold hover:bg-gray-300 px-3 pt-2 pb-1 rounded text-center border-b lg:border-0">Projects</a>
        <a href="/talks" class="khand tracking-wide font-semibold hover:bg-gray-300 px-3 pt-2 pb-1 rounded text-center border-b lg:border-0">Talks</a>
        <a href="http://blog.chorip.am?utm_medium=referral&utm_source=personal_website&utm_campaign=navbar" class="khand tracking-wide font-semibold hover:bg-gray-300 px-3 pt-2 pb-1 rounded text-center border-b lg:border-0">Blog</a>
    </div>
</div>